body{
    color: rgb(0, 0, 0);
    display: block;
    height: 600px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    width: 648px;
}
canvas{
    background-color: rgb(255, 145, 0);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    width: 600px;
    height: 500px;
    margin: 10px auto 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 

}
button{
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 50px auto 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    border-radius: 5px;
    border-style: none;
    display: block;
    

}
button:hover{
    transition: all 0.5s ease-in-out;
    background: rgb(0, 0, 0);
    color: rgb(252, 208, 30);
    border: 1px solid #fff;
}

h1{
    text-align: center;
    width: 400px;
    height: 50px;
    margin: 10px auto 10px;
  margin-top: 20px;

   
}
